<html ng-app="myModule">
<head>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"> </script>
	<link rel="stylesheet" href="Calculator.css">
	<script src="Calculator.js"></script>
</head>
<body>
	
<div class="box" ng-controller="cal">
	
	<div class="display">
	<input type="text" readonly size="15" id="d"  value="{{displayOutput}}" placeholder="@Dikin-Calculator"></input>
	</div>
	<div class="keys">

    	<p>
			<input type="button" class="button black" value="7" ng-click="updateDisplay('7')" >
	        <input type="button" class="button black" value="8" ng-click="updateDisplay('8')" >
			<input type="button" class="button black" value="9" ng-click="updateDisplay('9')" >
			<input type="button" class="button pink" value="*" ng-click="updateDisplay('*')" ng-disabled="!displayOutput" >
		</p>
    	<p>
			<input type="button" class="button black" value="4" ng-click="updateDisplay('4')" >
	        <input type="button" class="button black" value="5" ng-click="updateDisplay('5')" >
			<input type="button" class="button black" value="6" ng-click="updateDisplay('6')" >
			<input type="button" class="button pink" value="-" ng-click="updateDisplay('-')" ng-disabled="!displayOutput">
		</p>
   	 	<p>
			<input type="button" class="button black" value="1" ng-click="updateDisplay('1')" >
	        <input type="button" class="button black" value="2" ng-click="updateDisplay('2')" >
			<input type="button" class="button black" value="3" ng-click="updateDisplay('3')" >
			<input type="button" class="button pink" value="+" ng-click="updateDisplay('+')" ng-disabled="!displayOutput">
		</p>
    	<p>
			<input type="button" class="button black" value="0" ng-click="updateDisplay('0')" >
	        <input type="button" class="button black" value="." ng-click="updateDisplay('.')" >
			<input type="button" class="button orange" ng-disabled="!displayOutput" value="=" ng-click="calculate()" >
			<input type="button" class="button pink" value="/"  ng-click="updateDisplay('/')" ng-disabled="!displayOutput">
		</p>
		<p>
			<input type="button" class="button1 orange" value="c" ng-click="clearScreen()" >
	        <input type="button" class="button pink" value="pwr" ng-click="updateDisplay1('^')" ng-disabled="!displayOutput">
			<input type="button" class="button pink" value="sqrt" ng-click="updateDisplay1('sqrt')" ng-disabled="!displayOutput">
			
		</p>
	</div>
</div>

</body>
</html>